{{ define "main" }}
<article class="post">
    <header class="post-header">
        {{ if .Title }}
        <h2 class="post-title">{{ .Title }}</h2>
        {{ end }}
        
    </header>

    {{ if templates.Exists "partials/microhook-before-page-content.html" }}
    {{ partial "microhook-before-page-content.html" . }}
    {{ end }}

    <div class="post-content">
        {{ .Content }}
    </div>

    {{ if templates.Exists "partials/microhook-after-page-content.html" }}
    {{ partial "microhook-after-page-content.html" . }}
    {{ end }}

</article>
{{ end }}